@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* * {
    border: 1px solid red;
} */

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */

.navbar .container,
.header .container,
.footer .container {
    background-color: #1f3730;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 100px;
}

.navbar .container ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.nav a,
.footer .container a {
    text-decoration: none;
    font-size: 18px;
    color: #e5ebeb;
    transition: all ease 0.2s;
}

.nav a:hover,
.footer .container a:hover {
    color: #b2b8b8;
}

.logo img {
    width: 40px;
}

/* HEADER */

.header .container {
    padding: 50px 100px 100px;
    /* flex-wrap: wrap; */
}

.header .container .hero {
    max-width: 800px;
}

.header .container .container-img {
    min-width: 450px;
    max-width: 450px;
    border: 1px solid #3f7061;
    border-radius: 5px;
    margin-left: 100px;
    overflow: hidden;
}

.header .container img {
    background-size: cover;
    transition: all ease 0.4s;
}

.header .container img:hover {
    transform: scale(1.2);
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    /* margin-bottom: -10px; */
}

.hero p {
    font-size: 18px;
    color: #e5ebeb;
}

.hero .btn {
    background-color: #25c066;
    color: #f9faf8;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
}

/* FACTS SECTION  */

.facts .container {
    background-color: #f9faf8;
    padding: 50px 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.facts h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f3730;
    margin: 0;
}

.facts .images {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.facts .images .info {
    max-width: 250px;
}

.facts .images img {
    width: 250px;
    transition: all ease 0.4s;
    background-size: cover;
}

.facts .images .container-img {
    border: 3px solid #3f7061;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: -5px;
    overflow: hidden;
    height: 330px;
}

.facts .images img:hover {
    transform: scale(1.4);
}

.facts .info p {
    font-size: 18px;
    color: #1f3730;
}

/* QUOTE SECTION  */

.quote .container {
    background-color: #e5ebeb;
    padding: 100px 250px;
    color: #1f3730;
}

.quote .container p {
    font-size: 36px;
    font-weight: 100;
    margin: 0;
}

.quote .container .author {
    display: flex;
    justify-content: flex-end;
}

.quote .container .author p {
    font-size: 24px;
    font-weight: 500;
    margin-right: 50px;
    margin-top: 20px;
}

/* FOOTER */

.footer .container {
    justify-content: center;
    color: #e5ebeb;
}

/* OTHER */

.btn {
    border: none;
    transition: all ease 0.2s;
}

.btn:hover {
    background-color: #27ad5f;
    color: #dddddd;
    cursor: pointer;
}

.btn:active {
    background-color: #2b9256;
}