@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */

.navbar .container,
.header .container,
.footer .container {
    background-color: #1f3730;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}

.navbar .container {
    gap: 40px;
}

.navbar .container ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav a,
.footer .container a {
    text-decoration: none;
    font-size: 18px;
    color: #e5ebeb;
    transition: all ease 0.2s;
}

.nav a:hover,
.footer .container a:hover {
    color: #b2b8b8;
}

/* MW LOGO  */

.logo img {
    width: 40px;
}

.logo {
    position: relative;
}

.logo .logo-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all ease 0.4s;
}

.logo .logo-hover:hover {
    opacity: 1;
}

/* HEADER */

.header .container {
    padding: 50px 150px 100px;
}

.header .container .hero {
    max-width: 800px;
}

.header .container .container-img {
    min-width: 450px;
    max-width: 450px;
    border: 1px solid #3f7061;
    border-radius: 5px;
    margin-left: 100px;
    overflow: hidden;
}

.header .container img {
    background-size: cover;
    transition: all ease 0.4s;
    max-width: 100%;
}

.header .container img:hover {
    transform: scale(1.2);
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #e5ebeb;
}

.hero .btn,
.box .btn {
    background-color: #25c066;
    color: #f9faf8;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
}

/* FACTS SECTION  */

.facts .container {
    background-color: #f9faf8;
    padding: 50px 100px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.facts h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f3730;
}

.facts .images {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 100px;
}

.facts .images .info {
    max-width: 250px;
    margin-top: -80px;
}

.facts .images img {
    max-width: 250px;
    transition: all ease 0.4s;
    background-size: cover;
}

.facts .images .container-img {
    border: 3px solid #3f7061;
    border-radius: 10px;
    margin-bottom: -5px;
    overflow: hidden;
    max-height: 330px;
}

.facts .images img:hover {
    transform: scale(1.4);
}

.facts .info p {
    font-size: 18px;
    color: #1f3730;
}

/* QUOTE SECTION  */

.quote .container {
    background-color: #e5ebeb;
    padding: 100px 250px;
    color: #1f3730;
}

.quote .container p {
    font-size: 36px;
    font-weight: 100;
    margin: 0;
}

.quote .container .author {
    display: flex;
    justify-content: flex-end;
}

.quote .author h3 {
    font-size: 24px;
    font-weight: 500;
    margin-right: 50px;
    margin-top: 20px;
}

/* SIGN-UP SECTION  */

.sign-up .container {
    background-color: #f9faf8;
    padding: 100px 150px;
}

.sign-up .box {
    background-color: #25c066;
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
}

.sign-up .box p,
.sign-up .box h3 {
    margin: 0;
}

.sign-up .box h3 {
    font-size: 24px;
    color: #f9faf8;
}

.sign-up .box p {
    font-size: 18px;
    color: #e5ebeb;
    margin-top: 2px;
}

.box .btn {
    border: 2px solid #e5ebeb;
    margin-left: 50px;
}

/* FOOTER */

.footer .container {
    justify-content: center;
    color: #e5ebeb;
    padding: 10px 0;
}

/* OTHER */

.btn {
    border: none;
    transition: all ease 0.2s;
}

.btn:hover {
    background-color: #27ad5f;
    color: #dddddd;
    cursor: pointer;
}

.btn:active {
    background-color: #2b9256;
}

@media (max-width: 1080px) {

    .header .container {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .header .container-img {
        margin-top: 50px;
        margin-left: 0 !important;
        min-width: 0 !important;
    }

    .hero .btn {
        margin-top: 20px;
    }

    .sign-up .box {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 50px 30px !important;
    }

    .box .btn {
        margin: 20px 0 0 0 !important;
    }
}

@media (max-width: 768px) {

    .navbar .container {
        padding: 10px 80px !important;
    }

    .header .container {
        padding: 50px 80px 100px !important;
    }

    .header .container-img img {
        max-width: 100% ;
        height: auto;
        min-width: 250px !important;
    }

    .quote .container {
        padding: 100px 80px !important;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .quote .author h3 {
        margin-right: 0 !important;
    }

    .sign-up .container {
        padding: 100px 80px !important;
    }
}

@media (max-width: 474px) {

    .navbar .container {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    .logo {
        margin-bottom: -20px !important;
    }
}